AddDefaultCharset UTF-8
php_flag display_errors 1
php_flag magic_quotes_gpc off
ErrorDocument 404 /page404.html



# 1. При редактирование сделать возможность изменить фото. // создаю функцию insert_img для проверки и загрузки фото на сервер
# 1,2 Выводить ошибки при редактирование фото, при загрузке на сервер.
# 2. Удаление старой картинки, берем из базы имя и удаляем на сервере.
# 3. Начать работу над разделом учитель в админк




