AddDefaultCharset UTF-8
php_flag display_errors 1
php_flag magic_quotes_gpc off
ErrorDocument 404 /page404.html


# 1. Редактирование картинок галлерия.
# 2. Удаление картинок в галлереи.
# 3. Разобраться с функцией clear_admin