AddDefaultCharset UTF-8
php_flag display_errors 1
php_flag magic_quotes_gpc off
ErrorDocument 404 /page404.html


# 1. В футере в разделе главная и учитель, редактирование контстант. | не определяет $name = empty($_GET['name']); index.php
# 2. Редактор ckeditor закрыть доступ для взлома.